<html>
  
<head>

  <title> Backbone Demo </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<script type="application/javascript">
      jQuery(function() {
          window.library.fetch();
      });
  
</script>

</body>
</html>